<!-- Section: CTA -->
<div class="section-content section-content--tertiary">
	<div class="container">
		<div class="section-heading section-heading--mb-sm section-heading--divider-top">
			<h2 class="section-heading__title" data-aos="fade-up" data-aos-duration="600" data-aos-delay="200">Ready For The Escape?</h2>
			<div class="section-heading__subtitle section-heading__subtitle--default" data-aos="fade-up" data-aos-duration="600" data-aos-delay="300">
				Escape Room gives you the opportunity to have fun
			</div>
		</div>

		<div class="text-center" data-aos="fade-up" data-aos-duration="600" data-aos-delay="400">
			<a href="#" class="btn btn-primary btn-lg">Book Your Escape</a>
		</div>
	</div>
</div>
<!-- Section: CTA / End -->