<!-- Section: Testimonials -->
<div class="section-content section-content--tertiary">
	<div class="container">
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Testimonials</h2>
		</div>

		<!-- Testimonials -->
		<div class="testimonials js-testimonials-slick slick--arrows-modern" data-aos="fade-up" data-aos-duration="800">

			<div class="testimonial">
				<blockquote class="testimonial__txt">
					My family and I had a spectacular experience here and they are above and beyond in customer service and entertainment.
				</blockquote>
				<div class="testimonial__meta">
					<figure class="testimonial__author-img">
						<img src="assets/img/samples/comment-avatar-1.png" alt="">
					</figure>
					<h6 class="testimonial__author-name">Aaron</h6>
				</div>
			</div>

			<div class="testimonial">
				<blockquote class="testimonial__txt">
					This place is a blast, especially for groups!  I loved seeing how group members of different personalities approached the puzzles.
				</blockquote>
				<div class="testimonial__meta">
					<figure class="testimonial__author-img">
						<img src="assets/img/samples/comment-avatar-2.png" alt="">
					</figure>
					<h6 class="testimonial__author-name">Tiffany</h6>
				</div>
			</div>

			<div class="testimonial">
				<blockquote class="testimonial__txt">
					My family and I had a spectacular experience here and they are above and beyond in customer service and entertainment.
				</blockquote>
				<div class="testimonial__meta">
					<figure class="testimonial__author-img">
						<img src="assets/img/samples/comment-avatar-1.png" alt="">
					</figure>
					<h6 class="testimonial__author-name">Aaron</h6>
				</div>
			</div>

			<div class="testimonial">
				<blockquote class="testimonial__txt">
					This place is a blast, especially for groups!  I loved seeing how group members of different personalities approached the puzzles.
				</blockquote>
				<div class="testimonial__meta">
					<figure class="testimonial__author-img">
						<img src="assets/img/samples/comment-avatar-2.png" alt="">
					</figure>
					<h6 class="testimonial__author-name">Tiffany</h6>
				</div>
			</div>

		</div>
		<!-- Testimonials / End -->
	</div>
</div>
<!-- Section: Testimonials / End -->