<!-- Section: Instagram -->
<div class="section-content">
	<div class="container">
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Instagram Shots</h2>
			<div class="section-heading__subtitle" data-aos="fade" data-aos-duration="600">
				<a href="#">#escapium</a>
			</div>
		</div>

		<!-- Instagram Feed -->
		<ul id="instagram-feed-tagged" class="widget-instagram__list widget-instagram__list--gutter-xs widget-instagram__list--4cols"></ul>
		<!-- Instagram Feed / End -->
		<div class="text-center widget-instagram__btn" data-aos="fade" data-aos-duration="600">
			<a href="https://www.instagram.com/dan.fisher.dev" class="btn btn-outline-secondary btn-lg">Follow Our Instagram</a>
		</div>
	</div>
</div>
<!-- Section: Instagram / End -->