<!-- Section: Latest Blog Posts -->
<div class="section-content">
	<div class="container">
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Latest Blog Posts</h2>
			<div class="section-heading__subtitle" data-aos="fade-up" data-aos-duration="600">
				<a href="blog-right-sidebar.html">Browse All Blog Posts</a>
			</div>
		</div>

		<!-- Post Grid -->
		<div class="post-grid row">

			<!-- Post #1 -->
			<div class="post-grid__item col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="800">

				<!-- Post Thumb -->
				<figure class="post-grid__thumb">
					<a href="blog-post.html"><img src="assets/img/samples/post-img-1-sm.jpg" alt=""></a>
				</figure>
				<!-- Post Thumb / End-->

				<div class="post-grid__body">
					<!-- Post Author -->
					<div class="post-grid__author post-grid__author--on-thumb">
						<img src="assets/img/samples/post-avatar1.png" alt="" class="post-grid__author-avatar">
						<span class="post-grid__author-name">Andy Bernard</span>
					</div>
					<!-- Post Author / End -->

					<!-- Post Category -->
					<ul class="post-grid__cat list-unstyled">
						<li class="post-grid__cat-item"><a href="#">Rooms</a></li>
					</ul>
					<!-- Post Category / End -->

					<!-- Post Title -->
					<h3 class="post-grid__title"><a href="blog-post.html">Kidnapped Game Now Open</a></h3>
					<!-- Post Title / End -->

					<!-- Post Excerpt -->
					<div class="post-grid__excerpt">Cras eu tristique tellus, sodales elementum turpis. Duis sed rhoncus nulla.</div>
					<!-- Post Excerpt / End -->
				</div>

			</div>
			<!-- Post #1 / End -->

			<!-- Post #2 -->
			<div class="post-grid__item col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">

				<!-- Post Thumb -->
				<figure class="post-grid__thumb">
					<a href="blog-post.html"><img src="assets/img/samples/post-img-2-sm.jpg" alt=""></a>
				</figure>
				<!-- Post Thumb / End-->

				<div class="post-grid__body">
					<!-- Post Author -->
					<div class="post-grid__author post-grid__author--on-thumb">
						<img src="assets/img/samples/post-avatar2.png" alt="" class="post-grid__author-avatar">
						<span class="post-grid__author-name">Betty Draper</span>
					</div>
					<!-- Post Author / End -->

					<!-- Post Category -->
					<ul class="post-grid__cat list-unstyled">
						<li class="post-grid__cat-item"><a href="#">Basics</a></li>
					</ul>
					<!-- Post Category / End -->

					<!-- Post Title -->
					<h3 class="post-grid__title"><a href="blog-post.html">What is an Escape Room?</a></h3>
					<!-- Post Title / End -->

					<!-- Post Excerpt -->
					<div class="post-grid__excerpt">Cras eu tristique tellus, sodales elementum turpis. Duis sed rhoncus nulla. Proin tincidunt, enim in elementum egestas, lectus tortor pellentesque.</div>
					<!-- Post Excerpt / End -->
				</div>

			</div>
			<!-- Post #2 / End -->

			<!-- Post #3 -->
			<div class="post-grid__item col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">

				<!-- Post Thumb -->
				<figure class="post-grid__thumb">
					<a href="blog-post.html"><img src="assets/img/samples/post-img-3-sm.jpg" alt=""></a>
				</figure>
				<!-- Post Thumb / End-->

				<div class="post-grid__body">
					<!-- Post Author -->
					<div class="post-grid__author post-grid__author--on-thumb">
						<img src="assets/img/samples/post-avatar1.png" alt="" class="post-grid__author-avatar">
						<span class="post-grid__author-name">Andy Bernard</span>
					</div>
					<!-- Post Author / End -->

					<!-- Post Category -->
					<ul class="post-grid__cat list-unstyled">
						<li class="post-grid__cat-item"><a href="#">Basics</a></li>
					</ul>
					<!-- Post Category / End -->

					<!-- Post Title -->
					<h3 class="post-grid__title"><a href="blog-post.html">Team Building</a></h3>
					<!-- Post Title / End -->

					<!-- Post Excerpt -->
					<div class="post-grid__excerpt">Cras eu tristique tellus, sodales elementum turpis. Duis sed rhoncus nulla. Proin tincidunt, enim in elementum.</div>
					<!-- Post Excerpt / End -->
				</div>

			</div>
			<!-- Post #3 / End -->

		</div>
		<!-- Post Grid / End -->
	</div>
</div>
<!-- Section: Latest Blog Posts / End -->