<!-- Section: Get in Touch -->
<div class="section-content section-content--no-padding section-content--secondary">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col--no-padding">
				<!-- Google Map -->
				<div class="gm-map gm-map--lg" data-map-style="shades-of-grey" data-map-address="Central Park, New York, US" data-map-icon="assets/img/gmap-logo.png" data-map-zoom="15"></div>
				<!-- Google Map / End -->
			</div>
			<div class="col-md-6">
				<div class="section-content__inner">
					<div class="section-heading section-heading--divider-top section-heading--left">
						<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">Get In Touch</h2>
					</div>
					<!-- Contact Form -->
					<form action="#" id="contact-form">
						<div class="form-group form-group--lg">
							<input type="text" class="form-control" id="contact-name" placeholder="Your Name...">
						</div>
						<div class="form-group form-group--lg">
							<input type="email" class="form-control" id="contact-email" placeholder="Your Email Address...">
						</div>
	
						<div class="form-group form-group--lg">
							<textarea id="contact-message" class="form-control" rows="4" placeholder="Your Message..."></textarea>
						</div>
	
						<input type="button" class="btn btn-outline-secondary btn-lg" value="Send Message">
					</form>
					<!-- Contact Form / End -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Section: Get in Touch / End -->