<!-- Section: Features -->
<div class="section-content section-content--secondary section-content--gradient-overlay-left section-content--bg1 jarallax" data-jarallax data-speed="0.6">
	<div class="container">

		<div class="row">
			<h4 class="side-title rotated-text col-md-1"><span class="rotated-text__inner">Who can play</span></h4>
			<div class="col-md-6">
				<!-- Features List -->
				<ul class="features-list list-unstyled">

					<li class="features-list__item">
						<div class="features-list__icon" data-aos="zoom-in" data-aos-duration="800">
							<i class="ion-ios-people-outline"></i>
						</div>
						<h5 class="features-list__title" data-aos="fade-left" data-aos-duration="800">Friends & Family</h5>
					</li>

					<li class="features-list__item">
						<div class="features-list__icon" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="100">
							<i class="ion-ios-briefcase-outline"></i>
						</div>
						<h5 class="features-list__title" data-aos="fade-left" data-aos-duration="800" data-aos-delay="100">Team & Co-Workers</h5>
					</li>

					<li class="features-list__item">
						<div class="features-list__icon" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="200">
							<i class="ion-ios-game-controller-b-outline"></i>
						</div>
						<h5 class="features-list__title" data-aos="fade-left" data-aos-duration="800" data-aos-delay="200">Game Lovers</h5>
					</li>

					<li class="features-list__item">
						<div class="features-list__icon" data-aos="zoom-in" data-aos-duration="800" data-aos-delay="300">
							<i class="ion-plane"></i>
						</div>
						<h5 class="features-list__title" data-aos="fade-left" data-aos-duration="800" data-aos-delay="300">Tourists</h5>
					</li>

				</ul>
				<!-- Features List / End -->
			</div>
		</div>

	</div>
</div>
<!-- Section: Features / End -->
