<!-- Section: How it works -->
<div class="section-content section-content--secondary">
	<div class="container">
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title" data-aos="fade" data-aos-duration="600">How it works</h2>
		</div>

		<div class="row">
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox" data-aos="fade-up" data-aos-duration="800">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-lock"></i>
						</div>
					</div>
					<h3 class="icobox__title">You Are Locked In</h3>
					<div class="icobox__desc">
						You will bring nothing in, but the escape room will be filled with useful and sometimes irrelevant objects.
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-clock"></i>
						</div>
					</div>
					<h3 class="icobox__title">The Clock Is Ticking…</h3>
					<div class="icobox__desc">
						Can you puzzle your way to the intriguing conclusion and escape the room in 60 minutes?
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="ion-ios-pulse-strong"></i>
						</div>
					</div>
					<h3 class="icobox__title">Feel The Atmosphere</h3>
					<div class="icobox__desc">
						The rooms is built to create an authentic experience with a fun atmosphere, strict attention to detail. <a href="#" class="stretched-link"></a>
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
		</div>

	</div>
</div>
<!-- Section: How it works / End -->
