<!-- Widget: Instagram -->
<div class="widget widget--sidebar widget-instagram">
	<header class="widget__header">
		<h3 class="widget__title">Instagram</h3>
	</header>
	<div class="widget__content">
		<ul id="instagram-feed" class="widget-instagram__list"></ul>
	</div>
</div>
<!-- Widget: Instagram / End -->