<div class="booked-profile-header bookedClearFix">
	<div class="booked-info">
		<div class="booked-user">
			<div class="booked-user-avatar"><img alt="" src="assets/img/samples/comment-avatar.png" srcset="assets/img/samples/comment-avatar@2x.png 2x" class="avatar"></div>
			<h3>Welcome back, <strong>Erin</strong>!</h3>
		</div>
		<a class="booked-logout-button btn btn-default btn-sm btn-outline-secondary" href="#" title="Sign Out">Sign Out</a>
	</div>
</div>