<!-- History -->
<div id="profile-history" class="tab-pane booked-tab-content fade bookedClearFix" role="tabpanel" aria-labelledby="profile-history-tab">
	<div class="booked-profile-appt-list">
		<h4><span class="count">5</span> Past Appointments</h4>
		<span class="appt-block bookedClearFix approved"><i class="booked-icon booked-icon-clock"></i><strong>Escape Room:</strong> Tuesday, October 17, 2017 from 1:00 am – 2:00 am</span>
		<span class="appt-block bookedClearFix approved"><i class="booked-icon booked-icon-clock"></i><strong>Magic Emporium:</strong> Monday, October 16, 2017 from 4:00 pm – 6:00 pm</span>
		<span class="appt-block bookedClearFix approved"><i class="booked-icon booked-icon-clock"></i><strong>The Cure:</strong> Thursday, March 9, 2017  from 3:00 am – 4:00 am</span>
		<span class="appt-block bookedClearFix approved"><i class="booked-icon booked-icon-clock"></i><strong>Escape Room:</strong> Tuesday, March 14, 2017 from 1:00 am – 2:00 am</span>
		<span class="appt-block bookedClearFix approved"><i class="booked-icon booked-icon-clock"></i><strong>Burlesque:</strong> Friday, March 10, 2017  from 1:00 am – 2:00 am</span>
	</div>
</div>
<!-- History / End -->