---
page-heading: "Blog"

breadcrumbs: [
	{
		label: "Blog"
	}
]
---

<div class="section-content">
	<div class="container">

		<div class="row">

			<!-- Content -->
			<div class="content col-md-12">

				<!-- Post -->
				<div class="post">
					<figure class="post__thumb">
						<a href="blog-post.html"><img src="{{../root}}assets/img/samples/blog-post-img-1-lg.jpg" alt=""></a>
					</figure>
					<div class="post__body box">
						<header class="post__header">
							<ul class="post__tax list-unstyled">
								<li class="post__tax-item"><a href="#">Basics</a></li>
							</ul>
							<h2 class="post__title"><a href="blog-post.html">Kidnapped Game Now Open</a></h2>
							<ul class="post__meta list-unstyled">
								<li class="post__meta-item post__meta-item--date"><a href="blog-post.html">February 25, 2017</a></li>
								<li class="post__meta-item post__meta-item--author"><a href="#">Dan Fisher</a></li>
								<li class="post__meta-item post__meta-item--comments"><a href="blog-post.html#comments">3 Comments</a></li>
							</ul>
						</header>
						<div class="post__excerpt">
							Aenean turpis dolor, ornare sed imperd id, pulvinar eu massa. Nulla accumsan lorem convallis tellus faucibus, eu laoreet. Sed vitae purus.  Aenean euismod turpis sem, quis vehicula diam lacinia a. Nam ultrices.
						</div>
						<footer class="post__footer">
							<a href="blog-post.html" class="btn btn-outline-secondary">Read More</a>
						</footer>
					</div>
				</div>
				<!-- Post / End -->

				<!-- Post -->
				<div class="post">
					<figure class="post__thumb">
						<a href="blog-post.html"><img src="{{../root}}assets/img/samples/blog-post-img-2-lg.jpg" alt=""></a>
					</figure>
					<div class="post__body box">
						<header class="post__header">
							<ul class="post__tax list-unstyled">
								<li class="post__tax-item"><a href="#">Basics</a></li>
							</ul>
							<h2 class="post__title"><a href="blog-post.html">What is an Escape Room?</a></h2>
							<ul class="post__meta list-unstyled">
								<li class="post__meta-item post__meta-item--date"><a href="blog-post.html">February 13, 2017</a></li>
								<li class="post__meta-item post__meta-item--author"><a href="#">Betty Draper</a></li>
								<li class="post__meta-item post__meta-item--comments"><a href="blog-post.html#comments">No Comments</a></li>
							</ul>
						</header>
						<div class="post__excerpt">
							Aenean turpis dolor, ornare sed imperd id, pulvinar eu massa. Nulla accumsan lorem convallis tellus faucibus, eu laoreet. Sed vitae purus.  Aenean euismod turpis sem, quis vehicula diam lacinia a. Nam ultrices.
						</div>
						<footer class="post__footer">
							<a href="blog-post.html" class="btn btn-outline-secondary">Read More</a>
						</footer>
					</div>
				</div>
				<!-- Post / End -->

				<!-- Post -->
				<div class="post">
					<figure class="post__thumb">
						<a href="blog-post.html"><img src="{{../root}}assets/img/samples/blog-post-img-3-lg.jpg" alt=""></a>
					</figure>
					<div class="post__body box">
						<header class="post__header">
							<ul class="post__tax list-unstyled">
								<li class="post__tax-item"><a href="#">Basics</a></li>
							</ul>
							<h2 class="post__title"><a href="blog-post.html">Perfect for Team Building</a></h2>
							<ul class="post__meta list-unstyled">
								<li class="post__meta-item post__meta-item--date"><a href="blog-post.html">January 12, 2017</a></li>
								<li class="post__meta-item post__meta-item--author"><a href="#">Dan Fisher</a></li>
								<li class="post__meta-item post__meta-item--comments"><a href="blog-post.html#comments">10 Comments</a></li>
							</ul>
						</header>
						<div class="post__excerpt">
							Aenean turpis dolor, ornare sed imperd id, pulvinar eu massa. Nulla accumsan lorem convallis tellus faucibus, eu laoreet. Sed vitae purus.  Aenean euismod turpis sem, quis vehicula diam lacinia a. Nam ultrices.
						</div>
						<footer class="post__footer">
							<a href="blog-post.html" class="btn btn-outline-secondary">Read More</a>
						</footer>
					</div>
				</div>
				<!-- Post / End -->

				{{> _pagination }}

			</div>
			<!-- Content / End -->

		</div>

	</div>
</div>
