---
page-heading: "Appointments"

breadcrumbs: [
	{
		link: "booking-form.html",
		label: "Booking"
	},
	{
		label: "Appointments"
	}
]
---

<div class="section-content">
	<div class="container">

		<div class="row">
			<div class="col-lg-8 ml-lg-auto mr-lg-auto">

				<!-- Booking Appointments -->
				<div id="booked-profile-page" class="booked-shortcode box">
					<div class="booked-profile-appt-list">
						<h4><span class="count">1</span> Upcoming Appointment</h4>

						<!-- Single Appointment -->
						<span class="appt-block bookedClearFix pending">
							<span class="status-block"><i class="booked-icon booked-icon-radio-unchecked"></i> Pending</span>
							<i class="booked-icon booked-icon-clock"></i><strong>Magic Emporium:</strong> Tuesday, March 7, 2017  from 1:00 am – 2:00 am
							<span class="booked-cal-buttons">
								<span class="addtocalendar atc-style-booked dropdown">
									<button class="atcb-link btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Add to Calendar
									</button>
									<span class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
										<a class="dropdown-item" href="#">iCalendar</a>
										<a class="dropdown-item" href="#">Google Calendar</a>
										<a class="dropdown-item" href="#">Outlook</a>
										<a class="dropdown-item" href="#">Outlook Online</a>
										<a class="dropdown-item" href="#">Yahoo! Calendar</a>
									</span>
								</span>
								<a href="#" class="btn btn-default btn-sm btn-outline-secondary cancel">Cancel Appointment</a>
							</span>
						</span>
						<!-- Single Appointment / End -->

						<!-- Single Appointment -->
						<span class="appt-block bookedClearFix approved">
							<span class="status-block"><i class="booked-icon booked-icon-radio-checked"></i> Approved</span>
							<i class="booked-icon booked-icon-clock"></i><strong>Burlesque:</strong> Wednesday, March 8, 2017  from 2:00 am – 3:00 am
							<span class="booked-cal-buttons">
								<span class="addtocalendar atc-style-booked dropdown">
									<button class="atcb-link btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Add to Calendar
									</button>
									<span class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
										<a class="dropdown-item" href="#">iCalendar</a>
										<a class="dropdown-item" href="#">Google Calendar</a>
										<a class="dropdown-item" href="#">Outlook</a>
										<a class="dropdown-item" href="#">Outlook Online</a>
										<a class="dropdown-item" href="#">Yahoo! Calendar</a>
									</span>
								</span>
								<a href="#" class="btn btn-default btn-sm btn-outline-secondary cancel">Cancel Appointment</a>
							</span>
						</span>
						<!-- Single Appointment / End -->

						<!-- Single Appointment -->
						<span class="appt-block bookedClearFix pending">
							<span class="status-block"><i class="booked-icon booked-icon-radio-unchecked"></i> Pending</span>
							<i class="booked-icon booked-icon-clock"></i><strong>The Cure:</strong> Thursday, March 9, 2017  from 3:00 am – 4:00 am
							<span class="booked-cal-buttons">
								<span class="addtocalendar atc-style-booked dropdown">
									<button class="atcb-link btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Add to Calendar
									</button>
									<span class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
										<a class="dropdown-item" href="#">iCalendar</a>
										<a class="dropdown-item" href="#">Google Calendar</a>
										<a class="dropdown-item" href="#">Outlook</a>
										<a class="dropdown-item" href="#">Outlook Online</a>
										<a class="dropdown-item" href="#">Yahoo! Calendar</a>
									</span>
								</span>
								<a href="#" class="btn btn-default btn-sm btn-outline-secondary cancel">Cancel Appointment</a>
							</span>
						</span>
						<!-- Single Appointment / End -->

						<!-- Single Appointment -->
						<span class="appt-block bookedClearFix pending">
							<span class="status-block"><i class="booked-icon booked-icon-radio-unchecked"></i> Pending</span>
							<i class="booked-icon booked-icon-clock"></i><strong>Magic Emporium:</strong> Friday, March 10, 2017  from 1:00 am – 2:00 am
							<span class="booked-cal-buttons">
								<span class="addtocalendar atc-style-booked dropdown">
									<button class="atcb-link btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Add to Calendar
									</button>
									<span class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
										<a class="dropdown-item" href="#">iCalendar</a>
										<a class="dropdown-item" href="#">Google Calendar</a>
										<a class="dropdown-item" href="#">Outlook</a>
										<a class="dropdown-item" href="#">Outlook Online</a>
										<a class="dropdown-item" href="#">Yahoo! Calendar</a>
									</span>
								</span>
								<a href="#" class="btn btn-default btn-sm btn-outline-secondary cancel">Cancel Appointment</a>
							</span>
						</span>
						<!-- Single Appointment / End -->

					</div>
				</div>
				<!-- Booking Appointments -->

			</div>
		</div>

	</div>
</div>
