---
page-heading: "Booking"

breadcrumbs: [
	{
		label: "Booking"
	}
]
---

<div class="section-content">
	<div class="container">

		<div class="row">
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-tag"></i>
						</div>
					</div>
					<h3 class="icobox__title">Pricing</h3>
					<div class="icobox__desc">
						Mauris tristique mollis dui, ut auctor massa. Suspendisse nunc erat, placerat eget ex sed, egestas mollis purus.
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-people"></i>
						</div>
					</div>
					<h3 class="icobox__title">Booking Size</h3>
					<div class="icobox__desc">
							Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla id metus ante. Praesent in convallis lacus.
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-globe-alt"></i>
						</div>
					</div>
					<h3 class="icobox__title">Public Booking</h3>
					<div class="icobox__desc">
							Nam suscipit mauris scelerisque elit malesuada auctor. Duis vel efficitur augue, sed pellentesque leo.
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
		</div>

		<div class="spacer-xl"></div>

		<div class="row">
			<div class="col-md-8 ml-md-auto mr-md-auto">

				{{> _booked-form }}

			</div>
		</div>

	</div>
</div>
