---
page-heading: "Shortcodes"

breadcrumbs: [
	{
		link: "#",
		label: "Features"
	},
	{
		label: "Shortcodes"
	}
]
---

<div class="section-content">
	<div class="container">

		<h2>Default Buttons</h2>
		<p class="demo-btn-wrapper">
			<button type="button" class="btn btn-lg btn-primary">Primary</button>
			<button type="button" class="btn btn-lg btn-secondary">Secondary</button>
			<button type="button" class="btn btn-lg btn-success">Success</button>
			<button type="button" class="btn btn-lg btn-info">Info</button>
			<button type="button" class="btn btn-lg btn-warning">Warning</button>
			<button type="button" class="btn btn-lg btn-danger">Danger</button>
			<button type="button" class="btn btn-lg btn-link">Link</button>
		</p>

		<hr class="hr--xl">

		<h2>Outline Buttons</h2>
		<p class="demo-btn-wrapper">
			<button type="button" class="btn btn-lg btn-outline-primary">Primary</button>
			<button type="button" class="btn btn-lg btn-outline-secondary">Secondary</button>
			<button type="button" class="btn btn-lg btn-outline-success">Success</button>
			<button type="button" class="btn btn-lg btn-outline-info">Info</button>
			<button type="button" class="btn btn-lg btn-outline-warning">Warning</button>
			<button type="button" class="btn btn-lg btn-outline-danger">Danger</button>
		</p>

		<hr class="hr--xl">

		<div class="row">
			<div class="col">
				<h2>Sizes</h2>
				<p>
					<button class="btn btn-primary btn-lg mr-2" type="button">Large Button</button>
					<button class="btn btn-secondary btn-lg" type="button">Large Button</button>
				</p>
				<p>
					<button class="btn btn-primary mr-2" type="button">Default Button</button>
					<button class="btn btn-secondary" type="button">Default Button</button>
				</p>
				<p>
					<button class="btn btn-primary btn-sm mr-2" type="button">Small Button</button>
					<button class="btn btn-secondary btn-sm" type="button">Small Button</button>
				</p>
			</div>
			<div class="col">
				<h2>Block</h2>
				<p>
					<button class="btn btn-lg btn-primary btn-block" type="button">Block Button</button>
				</p>
				<button class="btn btn-lg btn-secondary btn-block" type="button">Block Button</button>
			</div>
		</div>

		<hr class="hr--xl">

		<h2>Buttons with Icons</h2>
		<button class="btn btn-lg btn-primary mr-2" type="button"><i class="icon-arrow-right"></i> Primary</button>
		<button class="btn btn-lg btn-secondary mr-2" type="button"><i class="icon-login"></i> Secondary</button>
		<button class="btn btn-lg btn-success mr-2" type="button"><i class="icon-check"></i> Success</button>
		<button class="btn btn-lg btn-info mr-2" type="button"><i class="icon-info"></i> Info</button>
		<button class="btn btn-lg btn-warning mr-2" type="button"><i class="icon-exclamation"></i> Warning</button>
		<button class="btn btn-lg btn-danger mr-2" type="button"><i class="icon-energy"></i> Danger</button>

		<hr class="hr--xl">

		<h2>Icobox</h2>
		<div class="row">
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-lock"></i>
						</div>
					</div>
					<h3 class="icobox__title">You Are Locked In</h3>
					<div class="icobox__desc">
						You will bring nothing in, but the escape room will be filled with useful and sometimes irrelevant objects.
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-clock"></i>
						</div>
					</div>
					<h3 class="icobox__title">The Clock Is Ticking…</h3>
					<div class="icobox__desc">
						Can you puzzle your way to the intriguing conclusion and escape the room in 60 minutes?
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
			<div class="col-md-4">
				<!-- Icobox -->
				<div class="icobox">
					<div class="icobox__icon-wrapper">
						<div class="icobox__icon">
							<i class="icon-chemistry"></i>
						</div>
					</div>
					<h3 class="icobox__title">Feel The Atmosphere</h3>
					<div class="icobox__desc">
						The rooms is built to create an authentic experience with a fun atmosphere, strict attention to detail.
					</div>
				</div>
				<!-- Icobox / End -->
			</div>
		</div>

		<hr class="hr--xl">

		<h2>Alerts</h2>
		<div class="alert alert-success" role="alert">
			<strong>Well done!</strong> You successfully read this important alert message.
		</div>
		<div class="alert alert-info" role="alert">
			<strong>Heads up!</strong> This alert needs your attention, but it's not super important.
		</div>
		<div class="alert alert-warning" role="alert">
			<strong>Warning!</strong> Better check yourself, you're not looking too good.
		</div>
		<div class="alert alert-danger" role="alert">
			<strong>Oh snap!</strong> Change a few things up and try submitting again.
		</div>

	</div>
</div>
