---
page-heading: "Pricing Tables"

breadcrumbs: [
	{
		link: "#",
		label: "Features"
	},
	{
		label: "Pricing Tables"
	}
]
---

<div class="section-content">
	<div class="container">

		<!-- Pricing Tables -->
		<div class="pricing-table-wrapper row">
			<div class="col-md-4">
				<!-- Pricing Table -->
				<div class="pricing-table box">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Public Pricing</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">$</sup>25</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Allows players to book any time slot as long as a maximum capacity is not reached.</div>
					</div>
					<footer class="pricing-table__footer">
						<a href="#" class="btn btn-primary">Order Now!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

			<div class="col-md-4">
				<!-- Pricing Table -->
				<div class="pricing-table box">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Hybrid Pricing</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">$</sup>30</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Share the room with others or to join a public room that is already partially booked.</div>
					</div>
					<footer class="pricing-table__footer">
						<a href="#" class="btn btn-primary">Order Now!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

			<div class="col-md-4">
				<!-- Pricing Table -->
				<div class="pricing-table box">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Private Pricing</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">$</sup>35</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Requires that the group pays to book the entire room, regardless of the amount of players.</div>
					</div>
					<footer class="pricing-table__footer">
						<a href="#" class="btn btn-primary">Order Now!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

		</div>
		<!-- Pricing Tables / End -->


		<div class="spacer-lg"></div>


		<!-- Pricing Tables -->
		<div class="pricing-table-wrapper row no-gutters">
			<div class="col-md-4">
				<!-- Pricing Table -->
				<div class="pricing-table box-outline">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Public Pricing</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">$</sup>25</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Allows players to book any time slot as long as a maximum capacity is not reached.</div>
					</div>
					<footer class="pricing-table__footer">
						<a href="#" class="btn btn-outline-secondary">Order Now!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

			<div class="col-md-4">
				<!-- Pricing Table -->
				<div class="pricing-table box-outline">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Hybrid Pricing</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">$</sup>30</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Share the room with others or to join a public room that is already partially booked.</div>
					</div>
					<footer class="pricing-table__footer">
						<a href="#" class="btn btn-outline-primary">Order Now!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

			<div class="col-md-4">
				<!-- Pricing Table -->
				<div class="pricing-table box-outline">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Private Pricing</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">$</sup>35</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Requires that the group pays to book the entire room, regardless of the amount of players.</div>
					</div>
					<footer class="pricing-table__footer">
						<a href="#" class="btn btn-outline-secondary">Order Now!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

		</div>
		<!-- Pricing Tables / End -->


		<div class="spacer-lg"></div>


		<!-- Pricing Tables -->
		<div class="pricing-table-wrapper row">
			<div class="col-md-6">
				<!-- Pricing Table -->
				<div class="pricing-table box">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Public Pricing</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">$</sup>25</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Allows players to book any time slot as long as a maximum capacity is not reached.</div>
						<ul class="pricing-table__list list">
							<li>May fill rooms more efficiently, especially during peak hours.</li>
							<li>More affordable for smaller groups</li>
							<li>Allows smaller groups to play games that require a higher number of players.</li>
							<li>Some people enjoy playing with strangers.</li>
						</ul>
					</div>
					<footer class="pricing-table__footer">
						<a href="#" class="btn btn-secondary">Order Now!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

			<div class="col-md-6">
				<!-- Pricing Table -->
				<div class="pricing-table box">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Private Pricing</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">$</sup>35</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Requires that the group pays to book the entire room, regardless of the amount of players.</div>
						<ul class="pricing-table__list list">
							<li>Guaranteed high order value for every booking.</li>
							<li>No need to cancel bookings for underfilled rooms.</li>
							<li>Allows small groups to play by themselves.</li>
							<li>Avoids the risk of a bad customer experience from playing with strangers.</li>
						</ul>
					</div>
					<footer class="pricing-table__footer">
						<a href="#" class="btn btn-primary">Order Now!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

		</div>
		<!-- Pricing Tables / End -->


		<div class="spacer-xl"></div>


		<!-- Pricing Tables -->
		<div class="pricing-table-wrapper row no-gutters">
			<div class="col-md-4 align-self-center">
				<div class="pricing-table-intro">
					<!-- Pricing Intro -->
					<h2>Pricing Table</h2>
					<p>Lorem ipsum, dolor sit amet consectetur adipisic elit. Nostrum tempora ex quibusdam, blanditiis delectus nam hic tenetur, debitis natus maxime.</p>
					<!-- Pricing Intro / End -->
				</div>
			</div>

			<div class="col-md-4">
				<!-- Pricing Table -->
				<div class="pricing-table pricing-table--featured box">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Hybrid Pricing</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">$</sup>30</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Share the room with others or to join a public room that is already partially booked.</div>
					</div>
					<footer class="pricing-table__footer">
						<a href="#" class="btn btn-primary">Order Now!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

			<div class="col-md-4">
				<!-- Pricing Table -->
				<div class="pricing-table box">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Private Pricing</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">$</sup>35</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Requires that the group pays to book the entire room, regardless of the amount of players.</div>
					</div>
					<footer class="pricing-table__footer">
						<a href="#" class="btn btn-secondary">Order Now!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

		</div>
		<!-- Pricing Tables / End -->


		<div class="spacer-xl"></div>


		<!-- Pricing Tables -->
		<div class="pricing-table-wrapper row no-gutters">
			<div class="col-md-4">
				<!-- Pricing Table -->
				<div class="pricing-table box">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Public Pricing</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">$</sup>25</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Allows players to book any time slot as long as a maximum capacity is not reached.</div>
					</div>
					<footer class="pricing-table__footer">
						<a href="#" class="btn btn-secondary">Order Now!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

			<div class="col-md-4">
				<!-- Pricing Table -->
				<div class="pricing-table pricing-table--featured box">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Hybrid Pricing</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">$</sup>30</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Share the room with others or to join a public room that is already partially booked.</div>
					</div>
					<footer class="pricing-table__footer">
						<a href="#" class="btn btn-primary">Order Now!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

			<div class="col-md-4">
				<!-- Pricing Table -->
				<div class="pricing-table box">
					<header class="pricing-table__header">
						<h3 class="pricing-table__title">Private Pricing</h3>
						<h2 class="pricing-table__price"><sup class="pricing-table__price-currency">$</sup>35</h2>
					</header>
					<div class="pricing-table__body">
						<div class="pricing-table__excerpt">Requires that the group pays to book the entire room, regardless of the amount of players.</div>
					</div>
					<footer class="pricing-table__footer">
						<a href="#" class="btn btn-secondary">Order Now!</a>
					</footer>
				</div>
				<!-- Pricing Table / End -->
			</div>

		</div>
		<!-- Pricing Tables / End -->


	</div>
</div>
