---
page-heading: "Typography"

breadcrumbs: [
	{
		link: "#",
		label: "Features"
	},
	{
		label: "Typography"
	}
]
---

<div class="section-content">
	<div class="container">

		<h1>H1 Heading</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ligula nibh, vestibulum scelerisque elit sit amet, dignissim semper dolor. Aliquam ut mattis elit. Phasellus lacinia lacus neque, vitae scelerisque elit gravida id.</p>

		<div class="pt-4"></div>

		<h2>H2 Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ligula nibh, vestibulum scelerisque elit sit amet, dignissim semper dolor. Aliquam ut mattis elit. Phasellus lacinia lacus neque, vitae scelerisque elit gravida id.</p>

		<div class="pt-4"></div>

		<h3>H3 Heading</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ligula nibh, vestibulum scelerisque elit sit amet, dignissim semper dolor. Aliquam ut mattis elit. Phasellus lacinia lacus neque, vitae scelerisque elit gravida id.</p>

		<div class="pt-4"></div>

		<h4>H4 Heading</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ligula nibh, vestibulum scelerisque elit sit amet, dignissim semper dolor. Aliquam ut mattis elit. Phasellus lacinia lacus neque, vitae scelerisque elit gravida id.</p>

		<div class="pt-4"></div>

		<h5>H5 Heading</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ligula nibh, vestibulum scelerisque elit sit amet, dignissim semper dolor. Aliquam ut mattis elit. Phasellus lacinia lacus neque, vitae scelerisque elit gravida id.</p>

		<div class="pt-4"></div>

		<h6>H6 Heading</h6>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ligula nibh, vestibulum scelerisque elit sit amet, dignissim semper dolor. Aliquam ut mattis elit. Phasellus lacinia lacus neque, vitae scelerisque elit gravida id.</p>

		<hr class="hr--xl">

		<!-- Section Title - Centered -->
		<div class="section-heading section-heading--divider-top">
			<h2 class="section-heading__title">Section Center</h2>
			<div class="section-heading__subtitle">
				<a href="#">Browse All Blog Posts</a>
			</div>
		</div>
		<!-- Section Title - Centered / End -->

		<!-- Section Title - Left -->
		<div class="section-heading section-heading--divider-top section-heading--left">
			<h2 class="section-heading__title">Section Left</h2>
			<div class="section-heading__subtitle">
				<a href="#">Browse All Blog Posts</a>
			</div>
		</div>
		<!-- Section Title - Left / End -->

		<!-- Section Title - Right -->
		<div class="section-heading section-heading--divider-top section-heading--right">
			<h2 class="section-heading__title">Section Right</h2>
			<div class="section-heading__subtitle">
				<a href="#">Browse All Blog Posts</a>
			</div>
		</div>
		<!-- Section Title - Right / End -->

		<hr class="hr--xl">

		<div class="row">
			<div class="col-md-6">
				<h2>Ordered List</h2>
				<ol class="list">
					<li>Sed ut perspiciatis unde omnis iste natus.</li>
					<li>Error sit voluptatem accusantium.</li>
					<li>Doloremque laudantium, totam rem.</li>
					<li>Eaque ipsa quae ab illo inventore veritatis.</li>
					<li>Velit esse quam nihil molestiae conse.</li>
					<li>Vel illum qui dolorem eum fugiat quo.</li>
					<li>Voluptas nulla pariatur?</li>
				</ol>
			</div>
			<div class="col-md-6">
				<h2>Unordered List</h2>
				<ul class="list">
					<li>Sed ut perspiciatis unde omnis iste natus.</li>
					<li>Error sit voluptatem accusantium.</li>
					<li>Doloremque laudantium, totam rem.</li>
					<li>Eaque ipsa quae ab illo inventore veritatis.</li>
					<li>Velit esse quam nihil molestiae conse.</li>
					<li>Vel illum qui dolorem eum fugiat quo.</li>
					<li>Voluptas nulla pariatur?</li>
				</ul>
			</div>
		</div>

	</div>
</div>
