---
page-heading: "FAQs"

breadcrumbs: [
	{
		link: "#",
		label: "Features"
	},
	{
		label: "FAQs"
	}
]
---

<!-- Section - FAQs -->
<div class="section-content">
	<div class="container">

		<div class="row">
			<div class="col-md-8 ml-md-auto mr-md-auto">

				<!-- FAQs (accordion) -->
				<div id="faq-accordion" role="tablist" class="accordion">

					<!-- FAQ - 1 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingOne">
							<h3>
								<a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									What is an Escape Room?
								</a>
							</h3>
						</div>
						<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 1 / End -->

					<!-- FAQ - 2 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingTwo">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Will I be locked in a room?
								</a>
							</h3>
						</div>
						<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 2 / End -->

					<!-- FAQ - 3 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingThree">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									How long does the whole experience take?
								</a>
							</h3>
						</div>
						<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 3 / End -->

					<!-- FAQ - 4 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingFour">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									Can I play more than one game?
								</a>
							</h3>
						</div>
						<div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 4 / End -->

					<!-- FAQ - 5 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingFive">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									Will other people be in the room with us?
								</a>
							</h3>
						</div>
						<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 5 / End -->

					<!-- FAQ - 6 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingSix">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
									Do I need to bring anything?
								</a>
							</h3>
						</div>
						<div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 6 / End -->

					<!-- FAQ - 7 -->
					<div class="accordion__item">
						<div class="accordion__item-header" role="tab" id="headingSeven">
							<h3>
								<a class="collapsed" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
									Is there an age limit?
								</a>
							</h3>
						</div>
						<div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#faq-accordion">
							<div class="accordion__item-body">
								An escape game is a real-life experience where participants are locked in a room and must use elements of the room, the group’s collective knowledge, and wits to discover clues, solve puzzles, and escape and/or find the missing item within a set amount of time.
							</div>
						</div>
					</div>
					<!-- FAQ - 7 / End -->

				</div>
				<!-- FAQs (accordion) / End -->

			</div>
		</div>

	</div>
</div>
<!-- Section - FAQs / End -->
