---
page-heading: "Contacts"
gmap_script: true

breadcrumbs: [
	{
		label: "Contacts"
	}
]
---

<div class="section-content">
	<div class="container">

		<div class="row">
			<div class="col-md-3">

				<h2>Get in Touch</h2>
				<p>If you are interested in working with us, please get in touch</p>

				<ul class="contact-info list-unstyled">
					<li class="contact-info__item">
						<span class="contact-info__icon">
							<i class="icon-map"></i>
						</span>
						<div class="contact-info__txt">
							2390 RoadHill St., Suite 100<br>
							North Downtown, NY 82153
						</div>
					</li>
					<li class="contact-info__item">
						<span class="contact-info__icon">
							<i class="icon-phone"></i>
						</span>
						<div class="contact-info__txt">
							+1800 900 1248
						</div>
					</li>
					<li class="contact-info__item">
						<span class="contact-info__icon">
							<i class="icon-envelope"></i>
						</span>
						<div class="contact-info__txt">
							<a href="mailto:info@escapium.com">info@escapium.com</a>
						</div>
					</li>
				</ul>

			</div>
			<div class="col-md-8 offset-md-1">
				<h2>Contact Form</h2>
				<!-- Contact Form -->
				<form action="#" id="contact-form">

					<div class="row">
						<div class="col-md-6">
							<div class="form-group form-group--lg">
								<input type="text" class="form-control" id="contact-name" placeholder="Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group form-group--lg">
								<input type="email" class="form-control" id="contact-email" placeholder="Email Address">
							</div>
						</div>
					</div>

					<div class="form-group form-group--lg">
						<textarea id="contact-message" class="form-control" rows="8" placeholder="Your Message..."></textarea>
					</div>

					<input type="button" class="btn btn-primary btn-lg btn-block" value="Send Message">
				</form>
				<!-- Contact Form / End -->
			</div>
		</div>

	</div>
</div>

<!-- Google Map -->
<div class="gm-map gm-map--fixed" data-map-style="shades-of-grey" data-map-address="Central Park, New York, US" data-map-icon="{{../root}}assets/img/gmap-logo.png" data-map-zoom="15"></div>
<!-- Google Map / End -->
