---
page-heading: "Rooms"

breadcrumbs: [
	{
		link: "#",
		label: "Rooms"
	},
	{
		label: "Blocks"
	}
]
---

<div class="section-content">

	{{> _room-filter }}

	<!-- Rooms - Blocks -->
	<div class="rooms rooms--blocks js-rooms--grid">

		<!-- Room #1 -->
		<div class="room room--category-normal">
			<a href="room-single.html" class="room__link-wrapper">
				<div class="room__body">
					<!-- Header -->
					<header class="room__header">
						<!-- Title -->
						<h2 class="room__title">Magic Imporium</h2>
						<!-- Title / End -->
					</header>
					<!-- Header / End -->
				</div>
			</a>
		</div>
		<!-- Room #1 / End -->

		<!-- Room #2 -->
		<div class="room room--room-2 room--category-hard">
			<a href="room-single.html" class="room__link-wrapper">
				<!-- Badge -->
				<div class="room__badge room__badge--inverse" title="Closing">
					<i class="far fa-clock"></i>
				</div>
				<!-- Badge / End -->
				<div class="room__body">
					<!-- Header -->
					<header class="room__header">
						<!-- Title -->
						<h2 class="room__title">The Cure</h2>
						<!-- Title / End -->
					</header>
					<!-- Header / End -->
				</div>
			</a>
		</div>
		<!-- Room #2 / End -->

		<!-- Room #3 -->
		<div class="room room--room-3 room--category-normal">
			<a href="room-single.html" class="room__link-wrapper">
				<div class="room__body">
					<!-- Header -->
					<header class="room__header">
						<!-- Title -->
						<h2 class="room__title">Burlesque</h2>
						<!-- Title / End -->
					</header>
					<!-- Header / End -->
				</div>
			</a>
		</div>
		<!-- Room #3 / End -->

		<!-- Room #4 -->
		<div class="room room--room-4 room--category-hard">
			<a href="room-single.html" class="room__link-wrapper">
				<div class="room__body">
					<!-- Header -->
					<header class="room__header">
						<!-- Title -->
						<h2 class="room__title">Prison Break</h2>
						<!-- Title / End -->
					</header>
					<!-- Header / End -->
				</div>
			</a>
		</div>
		<!-- Room #4 / End -->

		<!-- Room #5 -->
		<div class="room room--room-5 room--category-easy">
			<a href="room-single.html" class="room__link-wrapper">
				<!-- Badge -->
				<div class="room__badge room__badge--secondary room__badge--inverse" title="Closing">
					<i class="fas fa-history"></i>
				</div>
				<!-- Badge / End -->
				<div class="room__body">
					<!-- Header -->
					<header class="room__header">
						<!-- Title -->
						<h2 class="room__title">The Hospital</h2>
						<!-- Title / End -->
					</header>
					<!-- Header / End -->
				</div>
			</a>
		</div>
		<!-- Room #5 / End -->


	</div>
	<!-- Rooms - Blocks / End  -->

	<div class="container">
		<div class="row">
			<div class="col-md-4 ml-md-auto mr-md-auto">
				<a href="#" class="btn btn-primary btn-lg btn-block">Load More</a>
			</div>
		</div>
	</div>

</div>
