<!-- Room Slider
================================================== -->
<div class="room-slider-wrapper">
	<div class="room-slider js-room-single-slick">
		<div class="room-slider__item room-slider__item--img-1"></div>
		<div class="room-slider__item room-slider__item--img-2"></div>
		<div class="room-slider__item room-slider__item--img-3"></div>
		<div class="room-slider__item room-slider__item--img-4"></div>
		<div class="room-slider__item room-slider__item--img-5"></div>
	</div>
	<!-- Room Title -->
	<div class="single-room-heading">
		<div class="container">
			<h1 class="single-room-heading__title">{{ room-title }}</h1>
		</div>
	</div>
	<!-- Room Title / End -->
</div>
<!-- Room Slider / End -->
