<!-- Filter -->
<ul class="filter js-filter list-unstyled">
	<li class="filter__item"><button class="filter__link btn btn-primary" data-filter="*">All</button></li>
	<li class="filter__item"><button class="filter__link btn btn-outline-secondary" data-filter=".room--category-easy">Easy</button></li>
	<li class="filter__item"><button class="filter__link btn btn-outline-secondary" data-filter=".room--category-normal">Normal</button></li>
	<li class="filter__item"><button class="filter__link btn btn-outline-secondary" data-filter=".room--category-hard">Hard</button></li>
</ul>
<!-- Filter / End -->
