<!-- Rating -->
<div class="room__complexity rating-icons">
	<div class="rating-icons__placeholder">
		{{#repeat 5}}<i class="{{#if icon}}{{icon}}{{else}}ion-locked{{/if}}"></i>{{/repeat}}
	</div>
	<div class="rating-icons__active">
		{{#repeat count}}<i class="{{#if icon}}{{icon}}{{else}}ion-locked{{/if}}"></i>{{/repeat}}
	</div>
</div>
<!-- Rating / End -->
